.header{
    display: flex;
    align-items: flex-start;
    padding: 1%;
    margin-left: 2%;
}

.youtubeclone{
    margin-right: 50px;
}

.container{
    width: 50%;
}

.col-8{
    margin-left: 3%;
}

.sidebar{
    margin-left: 40px;
    display: flex;
    align-items: left;
    justify-content: left;
}

.youtubeicon{
    height: 65px;
    width:300px;
    margin-right: 40px;
}
